.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .product-card {
    border: 1px solid #ddd;
    padding: 15px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .share-buttons {
    margin-top: 10px;
  }
  
  .share-buttons a {
    display: inline-block;
    margin: 5px;
    color: #fff;
    background-color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .share-buttons a:hover {
    background-color: #0056b3;
  }
  
  .gallery {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
  }
  
  .gallery img {
    width: 100px;
    border-radius: 5px;
    object-fit:contain;
  }

  