<div class="product-card">
  <img [src]="product.image" [alt]="product.name" class="product-image">

  <h3>{{ product.name }}</h3>

  <p>{{ product.description }}</p>

  <p>Цена: {{ product.price }} ₸</p>

  <a [href]="product.link" target="_blank" class="product-link">
    Перейти к товару
  </a>
</div>



<!-- <div class="product-item">
    <a [href]="product.link" target="_blank">
      <img [src]="product.image" [alt]="product.name">
    </a>
    <h3>
      <a [href]="product.link" target="_blank">{{ product.name }}</a>
    </h3>
    <p>{{ product.description }}</p>
    <p>{{product.price }}</p>
    <p>Likes: {{ product.likes }}</p>
    <button (click)="likeProduct()">Like</button>
    <button (click)="removeProduct()">Remove</button>
    <button (click)="Discount()">Discount</button>
</div> -->
  