<div *ngIf="album; else notFound">
  <h2>Детали альбома</h2>
  <p><strong>ID:</strong> {{ album.id }}</p>
  <p><strong>Текущее название:</strong> {{ album.title }}</p>
  
  <div class="edit-form">
    <label for="title">Новое название:</label>
    <input id="title" type="text" [(ngModel)]="updatedTitle">
  </div>

  <div class="buttons">
    <button (click)="save()">Сохранить изменения</button>
    <button (click)="returnToList()">Вернуться к списку</button>
  </div>
  <!-- Новая кнопка-ссылка на фото -->
  <button (click)="goToPhotos()" class="btn-photo">Фото</button>

</div>

<ng-template #notFound>
  <p>Альбом не найден!</p>
  <button (click)="returnToList()">Вернуться к списку</button>
</ng-template>
